.grid {
  position: absolute;
  width: 560px;
  height: 300px;
  border: solid 1px black;
  margin-top: 100px;
  z-index: 100;
}

.grid .score{
  text-align: center;
}

.user {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: blueviolet;
  background-image: url('../img/programer.png');
}

.duck {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: yellow;
  background-image: url('../img/duck.png');
}

.game-over {
  position: absolute;
  width: 560px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}

.center-game{
  width: 600px;
  margin: 0 auto; /* center horizontally */
}
